fastapi~=0.115.8
uvicorn[standard]
sqlalchemy~=2.0.38
psycopg2-binary
boto3~=1.36.19
python-jose[cryptography]~=3.3.0
passlib[bcrypt]~=1.7.4
python-multipart
pydantic~=2.10.6
pydantic_settings
pytest~=8.3.4
pydantic[email]
httpx
anyio
pytest-asyncio
botocore~=1.36.19
starlette~=0.45.3
pydantic-settings~=2.7.1